/*
.submission_contents_box #editor{ width:100%;height:100%;}
.submission_contents_box #edui1{  z-index: 0;width:100%;height:100%;!important;}
*/
/*.submission_contents_box .edui-default .edui-editor{  border:none;}*/
